*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(179, 213, 220);
    width: 100%;
  
}

h1{
    font-size: 80px;
    text-align: center;
    color: rgb(7, 86, 102);
    font-family: "Averia Serif Libre", serif;
    margin: 7px;
}

img{
    height: 550px;
    width: 900px;
    margin: auto;
    display: block;
    padding: 2%;
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: "Poetsen One", sans-serif;
    margin-top: 10px;
    align-items: center;
    color:rgb(12, 127, 150);
    border-radius: 10px;
    background-color:rgb(140, 215, 230);
    padding: 1%;
    width: 100%;
    

}

.nav-itens{
    list-style: none;
    display: flex;
    font-size: 17px;

}

.nav-itens>li>a{
    padding-left: 20px;
    color:rgb(12, 127, 150);
    text-decoration: none;


}

footer{
    width: 100%;
    max-width: 1550px;
    background-color:rgb(140, 215, 230);
    display: grid;
}

#contato{
    font-size: 60px;
    font-family: "Nerko One", cursive;
    padding-left: 50px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    color:rgb(12, 127, 150);
}

#info_footer{
    font-size: 20px;
    color:rgb(12, 127, 150);
    text-align: center;
    font-family:  "Nerko One", cursive;
    
}

#insta{
    font-family: "Poetsen One", sans-serif;
    text-decoration: none;
    display: block;
    border: solid;
    width: max-content;
    padding: 2px;
    color:rgb(12, 127, 150);
    border-radius: 25px;
    border-radius: 15%;
    background-color:rgb(140, 215, 230);
    font-size: 20px;
    margin: auto;
}


@media (max-width: 918px) {
    h1 {
        font-size: 30px;
    }
    
    img{
        width: 600px;
        height: 500px;
    }
}

@media  (max-width: 622px){

    img{
        width: 400px;
        height: 400px;
    }

}

@media  (max-width: 423px){

    img{
        width: 300px;
        height: 200px;
    }

}
    
