*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(204, 240, 228);
    width: 100%;
    
}

h1{
    font-size: 80px;
    text-align: center;
    color: rgba(55, 107, 90, 0.863);
    font-family: "Matemasie", sans-serif;
    margin: 7px;
}

p{
    font-size: 30px;
    text-align: center;
    font-family: serif;
    color: rgba(37, 120, 92, 0.801);
    font-family: "Nerko One", cursive;
    
}

#p_listas{
    font-size: 30px;
    text-align: center;
    font-family: serif;
    color: rgba(37, 120, 92, 0.801);
    font-family: "Nerko One", cursive;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  
  
    
}

.item{
    width: 900px;
  
    background-color: rgb(88, 197, 161);
    flex: 1 1 300px;
    padding: 3%;
   
    
}

.Titulo-flex{ 
    font-family: "Nerko One", cursive;
    font-size: 30px;

}

nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Poetsen One", sans-serif;
    align-items: center;
    color: rgba(40, 138, 105, 0.977);
    border-radius: 10px;
    background-color: rgba(88, 197, 161, 0.727);
    width: 100%;
    padding: 1%;
    margin-top: 10px;
    box-shadow: 0 8px 10px rgba(52, 186, 141, 0.727);
   

}

.logo{
    font-weight: 800;
    font-size: 25px;


}

.nav-itens{
    list-style: none;
    display: flex;
    font-size: 17px;
    
    

}

.nav-itens>li>a{
    padding-left: 20px;
    color: rgba(61, 160, 127, 0.801);
    text-decoration: none;
    


}

ol{ font-style: unset;
    font-size: 20px;
    font-family: "Nerko One", cursive;
    color: rgba(55, 107, 90, 0.863);
}

table{
    border: 1px solid rgba(55, 107, 90, 0.863);
    width: 500px;
    border-collapse: collapse;
    padding: 2%;
    margin: auto;
    margin-top: 1%;
    


}

tr{
    background-color: rgba(88, 197, 161, 0.727);
    
    
}

th{
    border: 1px solid  rgba(55, 107, 90, 0.863);
    font-family: "Nerko One", cursive;
    
}

td{
    border: 1px solid  rgba(55, 107, 90, 0.863);
    padding: 8px;
    font-family:  "Poetsen One", sans-serif;
  


}

#img_index{
    width: 900px;
    height: auto;
    margin: auto;
    display: block;
    padding: 2%;
    flex-wrap: wrap;
    
}

#div_1{
    width: 90%;
    max-width: 1450px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: rgba(55, 107, 90, 0.863);
    border-style: solid;
    border: 5px dashed rgba(55, 107, 90, 0.863);;
    padding: 2px;

}

#Kdrama{
    font-size: 30px;
    padding: 1%;
}

#img_listas{
    width: 500px;
    padding: 1%;
}

#Sweet_home{
    width: 500px;
    height: 350px;
    padding: 1%;
}

#Arcane{
    width: 500px;
    height: 300px;
    padding: 1%;
}




#imagem-flex{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 468px;
    padding: 1%;
    width: 600px;
    margin: auto;

}

section{
    width: 100%;
}

footer{
    width: 100%;
   display: block;
    background-color: rgba(88, 197, 161, 0.727);

}

#contato{
    font-size: 60px;
    font-family: "Nerko One", cursive;
    padding-left: 50px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    color: rgba(55, 107, 90, 0.863);
}

#info_footer{
    font-size: 20px;
    color: rgba(55, 107, 90, 0.863);
    text-align: center;
    font-family:  "Nerko One", cursive;
    
}

#insta{
    font-family: "Poetsen One", sans-serif;
    text-decoration: none;
    display: block;
    border: solid;
    width: max-content;
    padding: 2px;
    color: rgba(40, 138, 105, 0.977);
    border-radius: 25px;
    border-radius: 15%;
    background-color:  rgb(204, 240, 228);
    font-size: 20px;
    margin: auto;
}


@media (max-width: 922px) {
    h1 {
        font-size: 30px;
    }
    
    #img_index{
        width: 400px;
        
    }
}

@media (max-width: 655px){
    #imagem-flex{
        width: 200px;
    }
}

@media  (max-width: 420px){

    #img_index{
        width: 300px;
    }

    #div_1{
        width: 80%;
    }

}
    
@media  (max-width: 520px){

    #img_listas{
        width: 310px;
        padding: 1%;
    }

    #Sweet_home{
        width: 310px;
        height: 200px;
        padding: 1%;
    }

    #Arcane{
        width: 310px;
        height: 150px;
        padding: 1%;
    }

    table{
        width: 100px;
    }

    th{
        font-size: 10px;

    }

    td{
        font-size: 10px;
    }

    #p_listas{
        font-size: 15px;
    }

    #imagem-flex{
        width: 300px;
    }

    
}

@media  (max-width: 350px){
    #div_1{
        width: 70%;
    }

    #img_listas{
        width: 200px;
        padding: 1%;
    }

    #Sweet_home{
        width: 200px;
        height: 150px;
        padding: 1%;
    }

    #Arcane{
        width: 200px;
        height: 150px;
        padding: 1%;
    }

    #imagem-flex{
        width: 300px;
    }
    

    


}