*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(204, 240, 228);
}

h1{
    font-size: 80px;
    text-align: center;
    color: rgba(55, 107, 90, 0.863);
    font-family: "Matemasie", sans-serif;
    margin: 7px;
}

p{
    font-size: 30px;
    text-align: center;
    font-family: serif;
    color: rgba(61, 160, 127, 0.801);
    font-family: "Nerko One", cursive;
    
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: "Poetsen One", sans-serif;
    margin-top: 10px;
    align-items: center;
    color: rgba(40, 138, 105, 0.977);
    border-radius: 10px;
    background-color: rgba(88, 197, 161, 0.727);
    padding: 1%;

}

.logo{
    font-weight: 800;
    font-size: 25px;


}

.nav-itens{
    list-style: none;
    display: flex;
    font-size: 17px;

}

.nav-itens>li>a{
    padding-left: 20px;
    color: rgba(61, 160, 127, 0.801);
    text-decoration: none;


}

#img_index{
    width: 900px;
    margin: auto;
    display: block;
    padding: 2%;
    
}

footer{
    background-color: rgba(88, 197, 161, 0.727) ;
    display: block;
}

#contato{
    font-size: 60px;
    font-family: "Nerko One", cursive;
    padding-left: 50px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    color: rgba(55, 107, 90, 0.863);;
}

#info_footer{
    font-size: 20px;
    color: rgba(55, 107, 90, 0.863);
    text-align: center;
    font-family:  "Nerko One", cursive;
    
}

#insta{
    font-family: "Poetsen One", sans-serif;
    text-decoration: none;
    display: block;
    border: solid;
    width: max-content;
    padding: 2px;
    color: rgba(40, 138, 105, 0.977);
    border-radius: 25px;
    border-radius: 15%;
    background-color:  rgb(204, 240, 228);
    font-size: 20px;
    margin: auto;
}